<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick Gervais</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body class="home">
    <div class="nav-bar">
         <strong>Home</strong>
        <nav>
        <a href="/about">about</a>
        <a href="/work">work</a>
        <a href="/gallery">gallery</a>
        <a href="/home">Home</a>
        </nav>
    </div>
    <div class="home-content">
        <h1>Rick Gervais</h1>
    </div>
</body>
</html>